body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  /* Aumentei a largura máxima */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* Permite que os campos quebrem para a linha seguinte quando necessário */
  gap: 15px;
  /* Espaço entre os campos */
}

form div {
  flex: 1 1 calc(50% - 15px);
  /* Campos ocupam 50% da largura até 768px */
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
  width: 100%;
  /* Campo ocupa toda a largura disponível */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="file"] {
  padding: 3px;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

/* Quando a tela for menor que 768px, os campos se empilham */
@media (max-width: 768px) {
  form {
    flex-direction: column;
  }

  form div {
    flex: 1 1 100%;
    /* Cada campo ocupa 100% da largura */
  }
}
